# The passenger module (from the libapache2-mod-passenger package) must be
# enabled
<VirtualHost *:80>
{% if redmine_servername is defined %}
    ServerName {{ redmine_servername }}
{% endif %}
    # ServerName my.domain.name
    # this is the passenger config
    SetEnv X_DEBIAN_SITEID "default"
    SetEnv PASSENGER_DOWNLOAD_NATIVE_SUPPORT_BINARY 0
    SetEnv PASSENGER_COMPILE_NATIVE_SUPPORT_BINARY 0
    # CHANGE PassengerAppGroupName FOR OTHER INSTANCES
    PassengerAppGroupName redmine_default
    PassengerUser {{ redmine_user }}
{% if redmine_ruby_path is defined %}
    PassengerRuby {{ redmine_ruby_path }}
{% endif %}
    DocumentRoot {{ redmine_home }}/public
{% if redmine_sub_uri is defined %}
    Alias "{{ redmine_sub_uri }}" {{ redmine_home }}/public
    <Location {{ redmine_sub_uri }}>
        RailsEnv production
        RackBaseURI {{ redmine_sub_uri }}
        RailsBaseURI {{ redmine_sub_uri }}
        Options -MultiViews
        PassengerBaseURI {{ redmine_sub_uri }}
        PassengerAppRoot {{ redmine_home }}
    </Location>
{% endif %}
    <Directory "{{ redmine_home }}/public">
        Allow from all
        Require all granted
    </Directory>
</VirtualHost>
