# The passenger module (from the libapache2-mod-passenger package) must be
# enabled
<VirtualHost *:80>
{% if redmine_servername is defined %}
    ServerName {{ redmine_servername }}
{% endif %}
    # ServerName my.domain.name
    # this is the passenger config
    SetEnv X_DEBIAN_SITEID "default"
    # CHANGE PassengerAppGroupName FOR OTHER INSTANCES
    PassengerAppGroupName redmine_default
    PassengerDefaultUser www-data
    Alias "/plugin_assets/" /var/cache/redmine/default/plugin_assets/
    DocumentRoot /usr/share/redmine/public
{% if redmine_sub_uri is defined %}
    Alias "{{ redmine_sub_uri }}" /usr/share/redmine/public
    <Location {{ redmine_sub_uri }}>
        RailsEnv production
        RackBaseURI {{ redmine_sub_uri }}
        Options -MultiViews
        PassengerBaseURI {{ redmine_sub_uri }}
        PassengerAppRoot /usr/share/redmine
    </Location>
{% endif %}
    <Directory "/usr/share/redmine/public">
        Allow from all
        Require all granted
    </Directory>
</VirtualHost>
